<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hst.shrp.dao.AnalysisHistoryDAO">

	<select id="findAllAnalysisHistories" resultType="EntityAnalysisHistory">
		SELECT A.ANAL_NO,
			   A.SIMUL_NOS,
			   A.IX_CD,
			   A.ANAL_DATA,
			   A.TARGET_CRP_NO,
			   A.ANAL_DT,
			   A.USER_NM,
			   B.FILE_NM
		  FROM SHRP_ANAL_HST A, SHRP_SIMLATN_HST B
		 WHERE A.BASIS_SIMUL_NO IN ( SELECT SIMUL_NO FROM SHRP_SIMLATN_HST ORDER BY SIMUL_NO DESC LIMIT 10 )
		   AND A.BASIS_SIMUL_NO = B.SIMUL_NO
	  ORDER BY A.ANAL_NO DESC
	</select>

	<insert id="save" parameterType="EntityAnalysisHistory">
		INSERT INTO SHRP_ANAL_HST (
			SIMUL_NOS,
			IX_CD,
			ANAL_DATA,
			USER_NM,
			TARGET_CRP_NO,
			BASIS_SIMUL_NO
		)
		VALUES (
			#{simulNos},
			#{ixCd},
			#{analData},
			#{userNm},
			#{targetCrpNo},
			#{basisSimulationNumber}
		)
	</insert>

</mapper>