<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hst.shrp.dao.AnalysisDAO">

	<select id="findAverageByIndicator" resultType="EntitySimulationAggregationData">
		SELECT SIMUL_NO,
			   CRP_NO,
			   ROUND(AVG(VAL), 1) AS AGGR_VAL
		  FROM SHRP_${indicator}
		 WHERE SIMUL_NO = #{simulationNumber}
	  GROUP BY CRP_NO;
	</select>

	<select id="findAllByIndicator" resultType="EntitySimulationDirectionData">
		SELECT SIMUL_NO,
			   CRP_NO,
			   DRC_NM,
			   ROUND(VAL, 1) AS VAL
		  FROM SHRP_${indicator}
		 WHERE SIMUL_NO = #{simulationNumber}
		   AND CRP_NO = #{crossRoadNumber}
	</select>

	<insert id="generateSimulationData">
		INSERT INTO SHRP_${indicator} (
			SIMUL_NO, CRP_NO, DRC_NM, VAL
		) VALUES (
			#{simulationNumber}, #{crossRoadNumber}, #{directionName}, #{value}
		)
	</insert>

</mapper>