<!DOCTYPE mapper
		PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hst.shrp.dao.SimulationDAO">
	<select id="findAllSimulationHistories" resultType="EntitySimulationHistory">
		SELECT SIMUL_NO,
			   FILE_NM,
			   SIMUL_DT,
			   EXPER_CD,
			   AMPM_CD
		  FROM SHRP_SIMLATN_HST
	  ORDER BY SIMUL_NO DESC
	</select>

	<select id="findOne" resultType="EntitySimulationHistory">
		SELECT SIMUL_NO,
			   FILE_NM,
			   SIMUL_DT,
			   EXPER_CD,
			   AMPM_CD
		  FROM SHRP_SIMLATN_HST
		 WHERE SIMUL_NO = #{simulationNumber}
	</select>

	<select id="selectNotRecentlySimulationHistories" resultType="int">
		SELECT SIMUL_NO
		  FROM SHRP_SIMLATN_HST
		 WHERE SIMUL_NO NOT IN (
		     SELECT SIMUL_NO
		  	   FROM SHRP_SIMLATN_HST
		   ORDER BY SIMUL_NO DESC LIMIT #{recentLimitBound}
		 )
	</select>
	
	<delete id="deleteSimulationsBySimulationNumbers">
		DELETE FROM SHRP_SIMLATN_HST
		 <where>
			SIMUL_NO IN
			<foreach collection="simulationNumbers" item="simulationNumber" open="(" close=")" separator=",">
				#{simulationNumber}
			</foreach>
		 </where>
	</delete>
</mapper>